@charset "utf-8";

/* ----------全体---------- */

/* リンクの下線を表示しない */
a {
    text-decoration: none;
    color: black;
}

/* wrapperで表示サイズを調整する */
.wrapper{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}

/* ページタイトルのサイズを調整 */
.page-title{
    font-size: 120%;
    margin-bottom: 50px;
}

/* ----------ヘッダー---------- */

/* ヘッダーを横並びにする */
#header{
    display: flex;
    justify-content: space-between;
}

/* ロゴのサイズ調整 */
.site-title img{
    width: 70%;
}

/* ----------ハンバーガーメニュー---------- */
/* 開閉ボタン(共通部分) */
.btn-menu{
    position: fixed; /*位置を固定*/
    right: 1rem; /*右*/
    top: 1rem; /*上*/
    z-index: 4;  /*重なり位置*/
    padding: .5rem 1rem; /*内側余白*/
    border: 1px solid var(--brown); /*1pxの実線*/
    border-radius: 50%;  /*角を丸める*/
    height: 4rem;
    width: 4rem;
}

/* 開くボタン */
#menu-open span{
    width: 100%;
    height: 2px;
    background-color: black;  /*背景色*/
    position: relative; /*位置を相対化*/
    display: block;
}

/* nth-child(i) 親要素から数えて何番目の要素か。indexは1から始まる */
#menu-open span:nth-child(1){
    top: 0;
}
#menu-open span:nth-child(2){
    margin: 8px 0;  /*y軸方向に外側余白*/
}
#menu-open span:nth-child(3){
    top: 0;
}

/* 閉じるボタン 三本線*/
#menu-close{
    border: 1px solid white;
}

#menu-close span{
    width: 100%;
    height: 2px;
    background-color: white;  /*背景色*/
    position: relative; /*位置を相対化*/
    display: block;
}

/* nth-child(i) 親要素から数えて何番目の要素か。indexは1から始まる */
#menu-close span:nth-child(1){
    translate: 0 4px;
    transform: rotate(-315deg); /*変形　回転 -315度*/
}
#menu-close span:nth-child(2){
    opacity: 0; /*透明*/
}
#menu-close span:nth-child(3){
    transform: rotate(-45deg); /*変形　回転*/
}

/* スライドメニューパネル */
#menu-panel{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;  /*重なり位置*/
    padding: 8rem 2rem 2rem; /*内側余白*/
    width: 20vw;  /*横幅*/
    height: 100vh; /*縦幅*/
    background-color: var(--brown);
    font-family: var(--oswald-font);
    translate: 100vw;
}

.menu-list{
    list-style: none; /*リストマーカーの削除*/
}

.menu-list li{
    margin: 1.5rem 0; /*外側余白*/
    opacity: 0;
    translate: 0 2rem;
}

.menu-list a{
    font-size: 2rem;
    text-decoration: none; /*リンクのアンダーバーを削除*/
    color: var(--light-grey); /*文字色を茶色に*/
}

/* ----------フッター---------- */

/* フッターを横並びにする */
#footer .menu{
    display: flex;
    list-style: none;
}

.menu li{
    margin-right: 15px;
}

#footer{
    margin: 3rem auto 1rem;
}

/* リンクテキストを中央に表示 */
.link-text{
    display: block;
    text-align: center;
    margin-top: 30px;
}

/* ----------index---------- */

/* 画像をグリッドの配置にする */
.product-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    list-style: none;
}

/* 画像サイズを調整 */
.product-list img{
    width: 100%;
}

/* ----------item---------- */
/* 画像とテキストを横並びに */
#item{
    display: flex;
    margin: 1rem auto 1rem 0;
    width: 70%;
}

.content{
    margin: 2rem auto;
}

#item div{
    width: 50%;
}

/* 画像サイズの調整 */
.item-img img{
    width: 100%;
}

/* 画像とテキストの間隔をあける */
.item-text{
    margin-left: 4rem;
}

/* テキストの下に余白を入れる */
.item-text *{
    margin-bottom: 2rem;
}

/* テーブル */
.item-text th{
    font-weight: normal;
    text-align: left;
}

.item-text td{
    padding-left: 1rem;
}

/* ----------about---------- */
#about-page{
    height: 100vh;
}

#test-btn{
    background-color: lightblue;
    padding: .5rem 2.5rem;
    border-radius: 5%;
    z-index: 5;
}

.about-footer{
    /* フッターの位置を下に固定(後で消す可能性　大) */
    position: fixed;
    bottom: 0;
}

/* ----------Company---------- */
#company .info{
    border-collapse: collapse;
    width: 60%;
    margin-bottom: 20px;
}

/* 下線を引く */
#company .info th,
#company .info td{
    border-bottom: 1px solid #dcdbdb;
    padding: 20px 10px;
    font-size: 14px;
}

#company .info th{
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    width: 30%;
}

#company .info td{
    width: 70%;
}

/* 一番下の下線を削除 */
#company .info tr:last-child td,
#company .info tr:last-child th{
    border-bottom: none;
}

/* マップのサイズを調整 */
#company .map iframe{
    width: 60%;
    height: 300px;
}

#company .map{
    filter: grayscale(1);
    margin-bottom: 100px;
}

/* ----------レスポンシブ対応デザイン---------- */
@media(max-width: 600px){
    /* メインの画像を2列に表示 */
    .product-list{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .product-list p{
        font-size: .75rem;
        line-height: 1.4;
        margin-top: 3px;
    }
    
    /* サイトのタイトルサイズを少し小さくする */
    .site-title img{
        height: 20px;
        width: auto;
    }

    .page-title{
        font-size: 100%;
        margin-bottom: 30px;
    }

    /* ----------item---------- */
    #item{
        flex-direction: column;
        width: auto;
    }

    #item div{
        width: auto;
    }

    .item-text{
        margin-left: auto;
    }

    /* ----------Company---------- */
    #company .info{
        width: 100%;
    }

    #company .info tr{
        display: grid;
    }

    #company .info th{
        border-bottom: none;
        padding-bottom: 0;
    }

    #company .info td{
        padding-top: 10px;
        width: 100%;
    }

    /* マップのサイズを調整 */
    #company .map iframe{
        width: 100%;
    }

    #company .map{
        margin-bottom: 30px;
    }
}