@charset "utf-8";

/* メインの画像をグリッドの配置にする */
.product-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    list-style: none;
}

/* リンクの下線を表示しない */
a {
    text-decoration: none;
    color: black;
}

/* wrapperで表示サイズを調整する */
.wrapper{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}
/* 画像サイズを調整 */
.product-list img{
    width: 100%;
}

/* ヘッダーを横並びにする */
#header{
    display: flex;
    justify-content: space-between;
}

/* フッターを横並びにする */
#footer .menu{
    display: flex;
    list-style: none;
}

.menu li{
    margin-right: 15px;
}

